<tr>
  <td class="heading">{{name}}</td>
  <td class="monospace">
    <div id="collapsible-{{field}}" class="collapse">{{value}}</div>
  </td>
  <td>
    <button type="button" class="btn btn-mini" data-toggle="collapse" data-target="#collapsible-{{field}}">
      {{t 'toggle-placeholder'}}
    </button>
  </td>
  <td>{{to_clipboard value}}</td>
</tr>
